apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- kubernetes/deployment.yaml
- kubernetes/namespace.yaml
- kubernetes/service.yaml
configMapGenerator:
  - name: initdb
    namespace: database
    files:
    - init-user-db.sh
